# I. Preface

Objective: This document was made to perform feature engineering on the cleaned data, in order to prepare the dataset for model training.

---

# II. Libraries

In [1]:
import pandas as pd
import scipy.stats as st

---

# III. Data Loading

In [4]:
# Loading the cleaned csv dataset

df = pd.read_csv("data_cleaned.csv")

In [5]:
df.head()

,Unnamed: 0,id,year_birth,education,marital_status,kidhome,teenhome,dt_customer,recency,mnt_wines,...,num_catalog_purchases,num_store_purchases,num_web_visits_month,accepted_cmp3,accepted_cmp4,accepted_cmp5,accepted_cmp1,accepted_cmp2,complain,response
0,0,5524,1957,Graduation,Single,0,0,04-09-2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,1,2174,1954,Graduation,Single,1,1,08-03-2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,2,4141,1965,Graduation,Together,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,3,6182,1984,Graduation,Together,1,0,10-02-2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,4,5324,1981,PhD,Married,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0

dataset successfully loaded.

---

# IV. Feature Engineering

## 1. Feature Creation

To help the model learn, I will create some features based on the already existing features.

## 2. Feature Selection

Here are the columns that have significant relation with churn, based on the correlation analysis done in EDA step:

In [ ]:
col_to_keep = [
    
]

In [ ]:
df_selected = df[col_to_keep]

## 3. Missing Value Handling

First, we need to identify whether or not missing values exists in the dataset.

In [ ]:
for column in df_selected.columns:
    percent_missing = df_selected[column].isnull().mean() * 100
    print(column, percent_missing)

There is no missing value in the dataset, no handling needed.

## 3. Outlier Handling

Outliers or extreme values can affect the mean of the data by very significantly, as some models are not robust towards outliers. Before detecting the outliers, we need to know the skewness of each columns to decide the method to use to identify outliers, as each type have very different distributions.

In [ ]:
# Loop through each feature
for feature in df_selected.columns:
    # Calculate the skewness of the feature
    skewness = st.skew(df_selected[feature])
    # Print the skewness of the feature
    print(f'Skewness for {feature}: {skewness}')

We need to separate the skewed columns and the normal ones. We're using the treshold of 0.5, means that any column with skewness greater than 0.5 or less than -0.5 is considered skewed, while any column with skewness between -0.5 and 0.5 is considered normal.

In [ ]:
# menggunakan lambda, calculate skewness for each column
skewness = df_selected.apply(lambda x: st.skew(x))

# Separate columns into skewed and normal based on the threshold (0.5)
col_s = skewness[abs(skewness) > 0.5].index.tolist()
col_n = skewness[abs(skewness) <= 0.5].index.tolist()

# print separated columns
print("Skewed Columns:", col_s)
print("Normal Columns:", col_n)

### 3.1. Normal Columns

For normal distribution columns, I will be using z-score to identify the outliers.

### 3.2. Skewed Columns

For skewed distribution columns, I will be using tukey's rule to identify the outliers.

## 4. Feature Scaling

## 5. Feature Encoding

---